

.choose-color-style-heading{
    text-align: center;
}
.choose-color-style-heading h2{
    margin-bottom: 15px;
}

.choose-color-style-heading p{
    opacity: 0.5;
}

.dropdown-select-colors-opetion{
    
    border-radius: 8px;
    border: 2px solid #000000;
    height: 100%;
    width: 100%;
}

/* .dropdown-select-colors-opetion-bg{
    height: 100px;
    width: 55px;
    background: linear-gradient(134.13deg, rgba(255, 255, 255, 0.4) 2.7%, rgba(255, 255, 255, 0.5) 54.19%, rgba(255, 255, 255, 0.2) 99.18%);
    padding: 2px;
    border-radius: 8px;
} */

.dropdown-select-colors-opetion-bg{
    position: relative;
    /* width: 55px; */
    display: inline-block;

    
}

.dropdown-select-colors-opetion-bg.color-select {
  background: linear-gradient(134.13deg, rgba(255, 255, 255, 0.4) 2.7%, rgba(255, 255, 255, 0.5) 54.19%, rgba(255, 255, 255, 0.2) 99.18%);
    padding: 2px;
    border-radius: 8px;
    backdrop-filter: blur(132px);
    box-shadow: 0px 0px 8px 0px #1D4AFE;
}

.color-select-radio-wrapper{
    align-items: flex-start;
    padding: 20px;
    display: flex;
    height: 100px;
    flex-direction: column;
    cursor: pointer;
    background: var(--color-option,red);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    width: 55px;
}

.color-select-radio {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.color-select-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    position: absolute;
    top: 10px;
    z-index: 1;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

}

.color-name{
    transform: rotate(-90deg);
    opacity: 0.8;
}

.color-select-no{
    opacity: 0.3;
}

.color-select-radio-btn{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1.5px solid #fff;
    border-radius: 8px;
    width: 55px;
}

.dropdown-select-colors{
    display: flex;
    gap: 10px;
    /* overflow-x: scroll; */
}

.dropdown-select-colors::-webkit-scrollbar{
    display: none;
}

.dropdown-select-colors-opetion-border{
    border: 2px solid #00000080;
    border-radius: 8px;
}

.bottom-top__left {
    flex: none;
    display: flex;
}
.profile_details {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-image {
    background: linear-gradient(90deg, #7BD1FF 0%, #7E9AFE 100%);
    padding: .56px;
    border-radius: 50px;
    overflow: hidden;
}

.profile-image img {
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: flex;
    padding: 1px;
    background: #000000;

}
.profile-name {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.profile-role {
    font-size: 9px;
    color: #FFFFFF60;
    line-height: 0.8;
}
.bottom-top__right {
    display: flex;
    align-items: center;
}
.statistics-inner {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.statistics_text {
    font-size: 6px;
    font-weight: 600;
    line-height: 14px;
}
.statistics_subtext
 {
    font-size: 5px;
}
.bottom-inner-top{
    display: flex;
    justify-content: space-between;
}

.bottom-contact__ctas {
    width: 100%;
}
.contact-ctas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
    text-align: center;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(66px);
    -webkit-backdrop-filter: blur(66px);
    border-radius: 4px;
    padding: 7px;
    flex: fit-content;
    gap: 10px;
}
.contact-ctas .cta:first-child:not(.contact-ctas.on__header .cta:first-child) {
    flex: 55%;
}

.contact-ctas a{
    color: #FFF;
    font-size: 12px;
}

