.bar{
    background-repeat: repeat;
    background-size: contain;
}

.setup-profile-bg{
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.e-link_desktop-container{
    padding: 0 35px;
}

.common-style-heading{
    text-align: center;
    margin-bottom: 25px;
}

.common-style-heading h2{
    font-size: var(--f-24);
    margin-bottom: 15px;
    font-weight: var(--w-500);
}

.common-style-heading p{
    font-size: var(--f-12);
    opacity: 0.5;
}


/* In Mockup screen Css */
.desktop-mockup-img{
    /* text-align: center; */
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
}
/* .desktop-mockup-img img{
    background-color: var(--black);
} */
.desktop-mockup-screen{
    position: relative;
}
.desktop-main-content{
    position: absolute;
    width: 100%;
    top: 50px;
    padding: 0 35px;
    z-index: 1;
}

.import_photo-url{
    margin-bottom: 20px;
}

.desktop-your-profile-preview .your-profile-preview{
    background: #FFFFFF1A;
    padding: 13px;
    border-radius: 24px;
}

.desktop-your-profile-preview{
    background: linear-gradient(93.19deg, rgba(255, 255, 255, 0.1) 1.47%, rgba(255, 255, 255, 0.04) 98.25%);
    border-radius: 24px;
    padding: 1px;
}
.desktop-your-profile-preview .your-profile-img {
    background: linear-gradient(90deg, #7BD1FF 0%, #7E9AFE 100% 100%);
    padding: 2px;
    border-radius: 50px;
    overflow: hidden;
}

.desktop-your-profile-preview .your-profile-top{
    box-shadow: none;
    padding: 0;
}

.desktop-your-profile-preview .profile_cta__contact, 
.desktop-your-profile-preview .profile_cta__call, 
.desktop-your-profile-preview .profile_cta__msg, 
.desktop-your-profile-preview .profile_cta__mail {
    opacity: 1;
}

.desktop-your-profile-preview .preview_container{
    margin-bottom: 0;
}

.desktop-your-profile-preview .profile_cta{
    background-color: #FFFFFF1A;
    box-shadow: none;
    border: 1px solid #FFFFFF1A;
    opacity: 0.5;
    padding: 13px;
}

.desktop-your-profile-preview .your-profile-right-inner{
    gap: 10px;
}

.onboarding-section-main-desktop .image-upload{
    border: 2px dashed #FFFFFF1A;
    height: 280px;
}

.upload-description span{
    opacity: 1;
    font-weight: var(--w-500);}





.upload-icon img{
   margin: 0 auto;
}  
.screen-btns{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 100px;
    left: 0;
    padding: 0 35px;
}


.screen-btns{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 100px;
    left: 0;
    padding: 0 35px;
}


.upload-photo-side-pop-inner{
    position: absolute;
    width: fit-content;
    top: 50%;
    transform: translateY(-35%);
}

.example-close{
    position: absolute;
    top: 0;
    right: -50px;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    border-radius: 10px;
    padding: 18px 16px;
    flex: fit-content;
    color: var(--white);
    gap: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 25%), inset 0 0 5px rgba(255, 255, 255, 25%);
}

.upload-photo-side-pop.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(40px);
}


.profile-previw-popup-close{
    position: relative;
}

.profile-previw-popup-phone{
    position: absolute;
    overflow: hidden;
    width: fit-content;
    top: -100px;
}
.profile-previw-popup-phone-content{
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 0 20px;
    overflow-y: scroll;
    height: 582px;
}

.profile-previw-popup-phone-content::-webkit-scrollbar {
   display: none;
}

.profile-previw-popup-phone-content img{
    border-radius: 20px;
}

.profile-previw-popup-example{
    padding-top: 30px;
}

.profile-previw-popup-inner{
    display: flex;
    background: #FFFFFF0D;
    border-radius: 25px;
    padding: 0 30px;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    backdrop-filter: blur(132px);
}

.profile-previw-popup-heading{
    margin-bottom: 35px;
    position: relative;
}
.profile-previw-popup-heading::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #FFFFFF1A;
    left: 0px;
    bottom: -15px;
    background: linear-gradient(90deg, #ffffff01, #ffffff80, #ffffff01);
}

.profile-previw-popup-mokup-scroll{
    display: flex
;
    justify-content: center;
    width: 100%;
    flex: 1;
    background: #00000050;
    border-radius: 25px;
    margin: 40px 0;
    position: relative;
    height: 600px;
}


/* Hide popup by default */
.profile-previw-popup {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: all 0.4s ease;
  z-index: 999;
  top: 0;
}


/* When active */
.profile-previw-popup.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(10%);
  height: 100%;
}

.profile-previw-popup.active .profile-previw-popup-inner {
  transform: translateY(0);
}

.profile-previw-popup:before{
    content: "";
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(16px);
    position: absolute;
    top: -10%;
}

.profile-previw-popup-exampel-img {
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.profile-previw-popup-exampel-img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.profile-previw-popup-exampel-img.active {
  border: 2px solid #007bff;
  box-shadow: var(--shadow-one);
  border-radius: 14px;
}

.profile-previw-popup-phone-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.profile-previw-popup-phone-content.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.profile-previw-popup-exampel-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.onboarding-section-main-desktop .upload-pregress{
    height: 300px;
}

.onboarding-section-main-desktop .upload-photo-error .error__text{
    padding-top: 0;
}
.onboarding-section-main-desktop .upload-photo-error .error__text img{
    margin: 0 auto 10px;
    max-width: 50px;
    width: 100%;
}