@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Light.woff2') format('woff2'),
        url('../fonts/Switzer-Light.woff') format('woff');
        font-weight: 300;
    font-display: swap;
    font-style: normal;
        
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Regular.woff2') format('woff2'),
        url('../fonts/Switzer-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
        url('../fonts/Switzer-Medium.woff') format('woff');
        font-weight: 500;
    font-display: swap;
    font-style: normal;

}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
        url('../fonts/Switzer-Semibold.woff') format('woff');
        font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
        url('../fonts/Switzer-Bold.woff') format('woff');
        font-weight: 700;
    font-display: swap;
    font-style: normal;
}


/* Root Color */

:root {
    --black: #000000;
    --white: #FFFFFF;
    --gradient-primary: linear-gradient(180deg, #26B7FF 0%, #1D4AFE 100%);
    --gradient-secondry: linear-gradient(180deg, #ffffff6e 0%, #414141 100%);
    --gradient-tertiory: linear-gradient(180deg, rgba(245, 29, 29, 0.1) 0%, #F51D1D 100%);
    --shadow-one: 0px 0px 8px 0px #1D4AFE;
    --shadow-two: 0px 0px 8px 0px #F51D1D;
    --hover-clr: linear-gradient(88.24deg, #5E29FD -0.52%, #B84EFF 99.49%); 
    --radius: 10px;
    --radius-20: 20px;
    --f-32: 32px;  
    --f-24: 24px;  
    --f-20: 20px;
    --f-18: 18px;
    --f-16: 16px;
    --f-14: 14px;
    --f-12: 12px;
    --f-10: 10px;
    --fw-500: 500;
    --fw-600: 600;
    --fw-300: 300;
    --color-option:linear-gradient(90deg, #B8E8FF 0%, #B8C5FE 100%);
}

* {margin: 0px;padding: 0px;box-sizing: border-box;}

body {background-color:var(--black); background-repeat: no-repeat; background-position: center center; background-size: 0px; font-family: 'Switzer';color: #fff;font-size: var(--f-14);transition: 1s all ease; transition-delay: 2.5s;}
body.js {background-image:url(../images/ocean-noir-bg-site.png); background-size: 1200px; background-attachment: fixed;}
body.light-mode{background: var(--white);}
body.light-mode :is(h1, h2, h3, h4, h5, h6, p){color: var(--black);}
body::before{content: "";width: 1139px;height: 657px; scale: 0;   transition: 1s all ease;  position: fixed;top: -587px;right: -740px;filter: blur(130px);background: linear-gradient(270deg, #0D1B2A 0%, #1B263B 27.88%, #415A77 62.98%, #778DA9 100%);border-radius: 500px; z-index: -99999; pointer-events: none; user-select: none; -webkit-user-select: none;}
body::after{content: "";width: 1139px;height: 642px; scale: 0;   transition: 1s all ease;  position: fixed;bottom: -545px;left: -600px;filter: blur(130px);background: linear-gradient(270deg, #0D1B2A 0%, #1B263B 27.88%, #415A77 62.98%, #778DA9 100%);border-radius: 500px; z-index: -99999; pointer-events: none; user-select: none; -webkit-user-select: none;}
body.js::before, body.js::after{scale: 1;}
h1, h2, h3, h4, h5, p {margin: 0;}
ul {margin: 0;padding: 0;}
li {margin: 0;padding: 0;list-style: none;}
video, iframe {width: 100%;}
a {text-decoration: none;}
input {outline: none;}
button {cursor: pointer;border: none;outline: none;font-family: 'Switzer';}
video, img{max-width: 100%; display: flex;}
picture{display: flex;}
h2{ font-size: var(--f-24); }
p{ font-size: var(--f-14); }


button{ background: transparent; outline: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
input:-webkit-autofill + label { color: #333 !important; }





/*-------------------------------
  Flexbox Utilities 
  --------------------*/
 .site_flex {display: flex;}
 .site_align-center {align-items: center;}
 .site_justify-center {justify-content: center;}
 .site_flex-column {flex-direction: column;}






/*----------------------------
  Anchor Hover Effect
  ---------*/

.anchor_hover {position: relative;--hover-clr: var(--hover-clr);display: inline-flex;}
.anchor_hover::after {content: "";position: absolute;width: 100%;height: 1px;background: var(--hover-clr, #fff);border-radius: 40px;transform: scaleX(0);left: 0px;bottom: -1px;transform-origin: right;transition: transform 0.5s ease;}
.anchor_hover:hover::after {transform-origin: left;transform: scaleX(1);}

.image_reveal-init {clip-path: inset(0 0 100% 0);-webkit-clip-path: inset(0 0 100% 0);opacity: 0;}

.e-link_container {max-width: 470px;margin: 0 auto;padding: 15px;}

.site_btn-bg {background: var(--gradient-secondry);backdrop-filter: blur(30px);border-radius: var(--radius);display: flex;align-items: center;justify-content: center;padding: 1px;}
.site_btn-bg :is(a, button) {background-color: var(--black);border-radius: var(--radius);color: var(--white);padding: 18px;display: flex;align-items: center;justify-content: center;width: 100%;height: 100%; gap: 10px;}
.site_btn-bg :is(a, button) img {width: 16px;}
.site_btn-bg :is(a, button):hover {color: var(--white);}
.site_btn-bg:not(.site_glow-btn):hover {background: var(--gradient-primary);box-shadow: var(--shadow-one);}


.setup-profile-progress-bg{background-color: var(--black);border-radius: var(--radius-20);border: 4px solid #ffffff20;padding: 25px 15px;overflow: hidden;position: relative;margin-bottom: 25px;}
.setup-profile-progress-bg::before{content: "";width: 187px;height: 41px;border-radius: 100px;background: var(--gradient-primary);position: absolute;top: -46px;right: 76px;filter: blur(30px);}
.setup-profile-progress-bg::after{content: "";width: 100%;height: 41px;border-radius: 100px;background: var(--gradient-primary);position: absolute;bottom: -63px;right: 0px;filter: blur(50px);}
.setup-profile-progress-bg.photo-error::after,
.setup-profile-progress-bg.photo-error::before{background: linear-gradient(180deg, #EA7676 0%, #FF0909 100%);}

.setup-profile-progress-bg.start-profile::after,
.setup-profile-progress-bg.start-profile::before{background: linear-gradient(90deg, #FF5526 0%, #1D4AFE 100%);}



.common-bg-shape{position: relative;}

.common-bg-shape span{width: 455px;height: 312px;background: var(--commom-bg);filter: blur(50px);position: fixed;z-index: -1;top: 50%;opacity: 0.3;}



/* Light Mode CSS */
.light .color-select-no,
.light .color-name{color: #000000;}
.light-mode .setup-profile-progress-bg{background-color: var(--white);border-radius: var(--radius-20);border: 4px solid #ffffff20;}
.light-mode .bar{background-color: #00000020;}
.light-mode .bar .bar-progress{background: var(--black);}
.light-mode .profile-name,
.light-mode .profile-role{color: var(--white);}
.light-mode .dropdown-btn{border: 4px solid #00000010;}
.light-mode .dropdown-btn-bg{background: var(--white);}
.light-mode span.slection-name{color: var(--black);}
.light-mode .slection-icon img,
.light-mode .slection-arrow img{filter: brightness(0);}
.light-mode .dropdown-btn-bg button{border: 1px solid #00000030;}
.light-mode .color-radio-choose{border: 1.5px solid #FFFFFF;box-shadow: inset 0px 4px 2px 0px #0000000D,  inset 0px 8px 4px 0px #0000001A,  inset 0px -4px 4px 0px #FFFFFF1A, 0px 3px 4px 0px #0000001A;       }
.light-mode .color-radio-choose-bg{background: linear-gradient(118.8deg, rgba(0, 0, 0, 0.02) -45.59%, rgba(0, 0, 0, 0.2) 54.83%, rgba(0, 0, 0, 0.02) 165.4%);}






/*-----------------------------------------    
  Top Elnk Logo And Close Icon Styles
  --------------------------*/

  .elnk__logo{justify-content: space-between; width: 100%;}
  .progress__on-start :is(.setup-profile-bg, .setup-profile-progress){display: none;}
  .onboarding__progress{gap:24px;}
  .e-link_desktop--top { margin-top: 36px; }